{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Sumon Rahman">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Appy App Landing Template.</title>
    <!-- Place favicon.ico in the root directory -->
            <link rel="apple-touch-icon" href="{% static "images/apple-touch-icon.png" %}">
    <link rel="shortcut icon" type="image/ico" href="{% static "images/favicon.ico" %}" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/linearicons.css" %}">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "css/animate.css" %}">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="{% static "css/responsive.css" %}">
    <script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target=".mainmenu-area">
    <!-- Preloader-content -->
    <div class="preloader">
        <span><i class="lnr lnr-sun"></i></span>
    </div>
    <!-- MainMenu-Area -->
    <nav class="mainmenu-area" data-spy="affix" data-offset-top="200">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary_menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="{% static "images/logo.png" %}" alt="Logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="primary_menu">
                <ul class="nav navbar-nav mainmenu">
                    <li><a href="#stocks_page">Stocks</a></li>
                    <li><a href="#current_page">Results</a></li>
                </ul>
                <div class="right-button hidden-xs">
                    <a href="#">Sign Up</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- MainMenu-Area-End -->
    <!-- Stock-Form -->
    <div id="stocks_page" class="subscribe-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="subscribe-form text-center">
                        <h3 class="blue-color">Get Stock Prices</h3>
                        <div class="space-20"></div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="text" class="control" placeholder="Stock Ticker" required="required" name="symbol" >
                            <br/>
                            <br/>
                            <input type="text" class="control" placeholder="City" required="required" name="city" >
                            <br/>
                            <br/>
                            <input type="text" class="control" placeholder="Currency" required="required" name="currency" >
                            <br/>
                            <br/>
                            <button class="btn btn-success active" type="submit">Get Results</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Stock-Form-Area -->
    <!--Price-Area -->
    <section class="section-padding price-area" id="current_page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title text-center">
                        <h5 class="title">Current State</h5>
                        <div class="space-60"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="price-box">
                        <div class="price-header">
                            <h4 class="upper">Stock</h4>
                        </div>
                        <div class="price-body">
                            <ul>
                                <li>{{stock.symbol}}</li>
                                <li>High: {{stock.high}}</li>
                                <li>Low: {{stock.low}}</li>
                            </ul>
                        </div>
                        <div class="price-rate">
                            <span class="rate">{{stock.price}}</span> 
                        </div>
                    </div>
                    <div class="space-30 hidden visible-xs"></div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="price-box">
                        <div class="price-header">
                            <h4 class="upper">Weather</h4>
                        </div>
                        <div class="price-body">
                            <ul>
                                <li>City: {{weather.city}}</li>
                                <li>Temperature: {{weather.temperature}}</li>
                            </ul>
                        </div>
                        <div class="price-rate">
                                <span class="rate">{{weather.temperature}}</span> 
                            </div>

                    </div>
                    <div class="space-30 hidden visible-xs"></div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="price-box">
                        <div class="price-header">
                            <h4 class="upper">Currency</h4>
                        </div>
                        <div class="price-body">
                            <ul>
                                <li>Currency: {{currency.currency}}</li>
                            </ul>
                        </div>
                        <div class="price-rate">
                            <span class="rate">{{currency.price}}</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Price-Area-End -->

    <!-- Footer-Area -->
    <footer class="footer-area" id="contact_page">
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-title text-center">
                            <h5 class="title">Contact US</h5>
                            <h3 class="dark-color">Find Us By Bellow Details</h3>
                            <div class="space-60"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="footer-box">
                            <div class="box-icon">
                                <span class="lnr lnr-map-marker"></span>
                            </div>
                            <p>8-54 Paya Lebar Square <br /> 60 Paya Lebar Roa SG, Singapore</p>
                        </div>
                        <div class="space-30 hidden visible-xs"></div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="footer-box">
                            <div class="box-icon">
                                <span class="lnr lnr-phone-handset"></span>
                            </div>
                            <p>+65 93901336 <br /> +65 93901337</p>
                        </div>
                        <div class="space-30 hidden visible-xs"></div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="footer-box">
                            <div class="box-icon">
                                <span class="lnr lnr-envelope"></span>
                            </div>
                            <p>yourmail@gmail.com <br /> backpiper.com@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-Bootom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-5">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <span>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="lnr lnr-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></span>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <div class="space-30 hidden visible-xs"></div>
                    </div>
                    <div class="col-xs-12 col-md-7">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Testimonial</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-Bootom-End -->
    </footer>
    <!-- Footer-Area-End -->
    <!--Vendor-JS-->
    <script src="{% static "js/vendor/jquery-1.12.4.min.js" %}"></script>
    <script src="{% static "js/vendor/jquery-ui.js" %}"></script>
    <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
    <!--Plugin-JS-->
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/contact-form.js" %}"></script>
    <script src="{% static "js/ajaxchimp.js" %}"></script>
    <script src="{% static "js/scrollUp.min.js" %}"></script>
    <script src="{% static "js/magnific-popup.min.js" %}"></script>
    <script src="{% static "js/wow.min.js" %}"></script>
    <!--Main-active-JS-->
    <script src="{% static "js/main.js" %}"></script>
</body>

</html>
